# SQL Server
SQL_SERVER_USER=your_sql_user
SQL_SERVER_PASSWORD=your_sql_password
SQL_SERVER_HOST=xxx.xxx.xx.xx
SQL_SERVER_DB=your_sql_db_name

# MySQL
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3309
MYSQL_DB=your_mysql_db_name